USE [master]
GO
/****** Object:  Database [KmeansDemo]    Script Date: 12/28/2012 02:17:06 ******/
CREATE DATABASE [KmeansDemo] ON  PRIMARY 
( NAME = N'KmeansDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\KmeansDemo.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KmeansDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\KmeansDemo_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KmeansDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KmeansDemo]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 12/28/2012 02:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](500) NULL,
	[Url] [nvarchar](max) NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClusterImages]    Script Date: 12/28/2012 02:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClusterImages](
	[ClusterId] [int] IDENTITY(1,1) NOT NULL,
	[ImageId] [int] NULL,
	[ColorR] [int] NULL,
	[ColorB] [int] NULL,
	[ColorG] [int] NULL,
	[ColorA] [int] NULL,
	[TotalPixel] [float] NULL,
 CONSTRAINT [PK_ClusterImages] PRIMARY KEY CLUSTERED 
(
	[ClusterId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
